<!-- C:\Users\engli\Documents\flask\backend\frontend\templates\navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('user.profile') }}">MyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('user.profile') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='articles') }}">Articles</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='background') }}">Background</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='galeria') }}">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='hero') }}">Hero</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='mail') }}">Mail</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='menusy') }}">Menu Spy</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='oferta') }}">Offers</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='opinie') }}">Opinions</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='users') }}">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile_section', section='visitors') }}">Visitors</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
