        /* Carousel styling */
        #introCarousel,
              .carousel-inner,
              .carousel-item,
              .carousel-item.active {
                height: 100vh;
              }
        
              .carousel-item:nth-child(1) {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
              }
        
              .carousel-item:nth-child(2) {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
              }
        
              .carousel-item:nth-child(3) {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
              }
        
              /* Height for devices larger than 576px */
              @media (min-width: 992px) {
                #introCarousel {
                  margin-top: 0px;
                }
              }
        
              .custom-text-white {
                    color: white;
                    font-weight: bold;
                }
                .custom-btn {
                    background-color: red;
                    text-decoration: dashed;
                    border: 0px;
                }
                .custom-btn:hover {
                    background-color: darkred;
                }
        
                /* Logo */
                .navbar-brand img {
                    max-width: 100%; /* Maksymalna szerokość logo */
                    height: auto; /* Zachowanie proporcji */
                    max-height: 50px; /* Maksymalna wysokość logo */
                }
        
                /* Elementy menu */
                .navbar-nav {
                    margin-left: auto; /* Pozycjonuj elementy menu po środku */
                }
                
                /* Przycisk Buy Now */
                .navbar .btn {
                    margin-left: auto; /* Pozycjonuj przycisk po prawej stronie */
                }
        
                /* Centrowanie elementów menu w trybie mobilnym */
                @media (max-width: 991.98px) {
                    .navbar-nav {
                        margin: 0 auto;
                        display: table;
                    }
                }
        
                .btn-primary {
                    background-color: #DE4242!important;
                    border-color: #ff5733 !important;
                    color: white !important;
                }
        
                .btn-primary:hover {
                    background-color: #DE4242 !important;
                    border-color: #e04e2a !important;
                }

                video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
                