<body>

<div class="site-section bg-light" id="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-7 mb-4 position-relative text-center mx-auto">
        <h2 class="font-weight-bold text-center">Single Blog Post</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="blog_entry">
          <img src="images/img_h_3-min.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
          <div class="p-4 bg-white">
            <h3>Far far away, behind the word mountains</h3>
            <span class="date">April 25, 2019</span>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 mx-auto">
        <a href="#" class="btn btn-primary btn-block">Back to All Posts</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
