
<div class="container"></div>
<header id="carouselContainer">
    <!-- Carousel will be rendered here -->
</header>
<div id=mainSection></div>
<div class="container" style="margin-top: 20px;">
  <div id="sectionImage"></div>
  <!-- Modal galery image -->
</div>
<script>
const dane = {
  "carouselItems": [
        {
            "videoSrc": "efekty/adds/galeria/video/DJI_0078.MP4",
            "maskColor": "rgba(0, 0, 0, 0.6)",
            "heading": "Imprezy sportowe",
            "subheading": "Najlepsi z najlepszych",
            "buttons": [
                {
                    "text": "Zamów film już teraz",
                    "url": "/kontakt",
                    "class": "btn-outline-light custom-btn"
                }
            ]
        },
        {
            "videoSrc": "efekty/adds/galeria/video/DJI_0086.MP4",
            "maskColor": "rgba(0, 0, 0, 0.3)",
            "heading": "Filmy promocyjne",
            "subheading": "Wykonywane z rozmachem",
            "buttons": [
                {
                    "text": "Zamów film już teraz",
                    "url": "/kontakt",
                    "class": "btn-outline-light custom-btn"
                }
            ]
        },
        {
            "videoSrc": "efekty/adds/galeria/video/DJI_0079.MP4",
            "maskColor": "linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%)",
            "heading": "Reklamy",
            "subheading": "Dzielimy się swoją pasją",
            "buttons": [
                {
                    "text": "Zamów film już teraz",
                    "url": "/kontakt",
                    "class": "btn-outline-light custom-btn"
                }
            ]
        }
    ],
    mainSection: {
        backgroundURL: "efekty/adds/hero/assets/pexels-caleboquendo-4889279.jpg",
        title1: "Profesionalny zespół, któremu można",
        title2: "zaufać",
        button1Text: "Zadzwoń teraz",
        button2Text: "Więcej",
        phoneNumber: "720 760 461"
    },
    sectionImage: [
        {
          src: "/efekty/adds/galeria/assets/48921969_1960271264052333_3732463173068914688_n.jpg",
          animationDelay: ""
        },
        {
          src: "/efekty/adds/galeria/assets/118083887_3162074360567251_317893365180175413_n.jpg",
          animationDelay: "300"
        },
        {
          src: "/efekty/adds/galeria/assets/184285412_3911701732271173_664944797408423679_n.jpg",
          animationDelay: "500"
        },
        {
          src: "/efekty/adds/galeria/assets/195688778_3986667734774572_6652058005580401895_n.jpg",
          animationDelay: ""
        },
        {
          src: "/efekty/adds/galeria/assets/209158276_4064455230329155_4712343838012056478_n.jpg",
          animationDelay: "300"
        },
        {
          src: "/efekty/adds/galeria/assets/322679947_831537901271177_2854626816657091469_n.jpg",
          animationDelay: "500"
        },
        {
          src: "/efekty/adds/galeria/assets/331483299_713620376899847_51941713472726588_n.jpg",
          animationDelay: ""
        },
        {
          src: "/efekty/adds/galeria/assets/336767407_6131000973587482_5005028003242857146_n.jpg",
          animationDelay: "300"
        },
        {
          src: "/efekty/adds/galeria/assets/355120523_6245759822198674_7575173158746098612_n.jpg",
          animationDelay: "500"
        },
        {
          src: "/efekty/adds/galeria/assets/387859034_122113918622064369_8563166061592335975_n.jpg",
          animationDelay: "500"
        },
        {
          src: "/efekty/adds/galeria/assets/393015856_6635869109854408_5074807102227126407_n.jpg",
          animationDelay: "500"
        }
      ]
};

function renderHeaderVideo(data) {
    const carouselIndicators = data.carouselItems.map((item, index) => {
        return `<li data-mdb-target="#introCarousel" data-mdb-slide-to="${index}" ${index === 0 ? 'class="active"' : ''}></li>`;
    }).join('');

    const carouselItems = data.carouselItems.map((item, index) => {
        const buttons = item.buttons ? item.buttons.map(button => {
            return `<a class="btn ${button.class} btn-lg m-2" href="${button.url}" target="_blank" role="button">${button.text}</a>`;
        }).join('') : '';

        const heading = item.heading ? `<h1 class="mb-3 custom-text-white">${item.heading}</h1>` : '';
        const subheading = item.subheading ? `<h5 class="mb-4 custom-text-white">${item.subheading}</h5>` : '';

        return `
            <div class="carousel-item ${index === 0 ? 'active' : ''}">
                <video style="min-width: 100%; min-height: 100%" playsinline autoplay muted loop>
                    <source class="h-100" src="${item.videoSrc}" type="video/mp4" />
                </video>
                <div class="mask" style="background-color: ${item.maskColor}">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            ${heading}
                            ${subheading}
                            ${buttons}
                        </div>
                    </div>
                </div>
            </div>
        `;
    }).join('');

    return `
        <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
            <ol class="carousel-indicators">
                ${carouselIndicators}
            </ol>
            <div class="carousel-inner">
                ${carouselItems}
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    `;
}


document.addEventListener('DOMContentLoaded', function() {
    // Pobierz przycisk
    var button = document.querySelector('[id="telefon"]');
    // Ustaw zdarzenie na kliknięcie przycisku
    button.addEventListener('click', function() {
        // Ustaw numer telefonu
        var phoneNumber = "567 874 992"; /* data.mainSection.phoneNumber ;  */
        // Wstaw numer telefonu wewnątrz przycisku
        button.textContent = phoneNumber;
        
        // Po 5 sekundach przywróć oryginalny tekst przycisku
        setTimeout(function() {
            button.textContent = data.mainSection.button1Text;
        }, 5000);
    });
});



function generateMainSectionHTML(data) {
    return `
    <div data-draggable="false" style="position: relative;">
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10">
                <!-- Background image -->
                <div class="p-5 text-center bg-image" style="background-image: url('${data.mainSection.backgroundURL}'); height: 500px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);" data-builder-edit="background" data-builder-name="background1" aria-controls="#picker-editor"></div>
                <!-- Background image -->
                <div class="container">
                    <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h1 class="display-3 fw-bold ls-tight mb-4">
                                <span data-builder-edit="text" data-builder-name="text1" contenteditable="false">${data.mainSection.title1}</span>
                                <br>
                                <span class="text-primary" data-builder-edit="text" data-builder-name="text2" contenteditable="false">${data.mainSection.title2}</span>
                            </h1>
                            <a class="btn btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" id="telefon" role="button" data-builder-edit="button" data-builder-name="button1" aria-controls="#picker-editor">${data.mainSection.button1Text}</a>
                            <a class="btn btn-link btn-lg py-3 px-5 mb-2 mb-md-0" data-ripple-color="primary" href="oferta" role="button" data-builder-edit="button" data-builder-name="button2" aria-controls="#picker-editor">${data.mainSection.button2Text}</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    `;
}

function renderSectionImage() {
      let container = '<div class="container" style="margin-top: 20px;">';

      for (let i = 0; i < dane.sectionImage.length; i += 3) {
        container += '<div class="row">';

        for (let j = 0; j < 3; j++) {
          if (i + j < dane.sectionImage.length) {
            const image = dane.sectionImage[i + j];
            container += `
              <div class="col-lg-4 col-md-6 mb-4">
                <img
                  src="${image.src}"
                  class="img-fluid shadow-1-strong rounded"
                  data-mdb-animation-init
                  data-mdb-toggle="animation"
                  data-mdb-animation-start="onScroll"
                  data-mdb-animation="fade-in"
                  ${image.animationDelay ? `data-mdb-animation-delay="${image.animationDelay}"` : ''}
                  onclick="openModal(${i + j})"
                  style="cursor: pointer;"
                />
              </div>
            `;
          }
        }

        container += '</div>';
      }

      container += '</div>';
      return container;
    }

    function renderModal() {
      return `
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <!--- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>  ---!>
                <img id="modalImage" src="" class="img-fluid" alt="Full Size Image">
                <a class="carousel-control-prev" href="#" role="button" onclick="prevImage()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#" role="button" onclick="nextImage()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      `;
    }

    let currentIndex = 0;

    function openModal(index) {
      currentIndex = index;
      document.getElementById('modalImage').src = dane.sectionImage[currentIndex].src;
      $('#imageModal').modal('show');
    }

    function prevImage() {
      currentIndex = (currentIndex > 0) ? currentIndex - 1 : dane.sectionImage.length - 1;
      document.getElementById('modalImage').src = dane.sectionImage[currentIndex].src;
    }

    function nextImage() {
      currentIndex = (currentIndex < dane.sectionImage.length - 1) ? currentIndex + 1 : 0;
      document.getElementById('modalImage').src = dane.sectionImage[currentIndex].src;
    } 

// Przykład użycia funkcji
// document.getElementById('carouselContainer').innerHTML = renderHeaderVideo(dane);

const mainSectionHTML = generateMainSectionHTML(dane);
document.getElementById("mainSection").innerHTML = mainSectionHTML;

document.getElementById('sectionImage').innerHTML = renderSectionImage() + renderModal();
</script>
<!--Main Navigation-->



