
/* Define @font-face for Chakra Petch font */
@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/chakrapetch/v3/cIflMapbsEk7TDLdtEz1BwU5UQ.woff2') format('woff2');
    unicode-range: U+000-5FF;
}

/* Apply the font to the header and navigation */
#main-header, #main-header nav {
    font-family: 'Chakra Petch', sans-serif;
}

/* style.css */
@font-face {
    font-family: 'KaushanScript';
    src: url('fonts/KaushanScript-Regular.ttf') format('truetype');
}

.menu-items {
    line-height: 1.8;
    list-style: none;
    margin: 0;
    padding: 10;
    display: flex;
    align-items: center;
}

.menu-items li {
    margin-right: 15px;
    font-size: 20px; /* Zwiększamy rozmiar czcionki */
    letter-spacing: 2px; /* Dodanie odstępu między literami */
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ul {
    list-style-type: disc;
}

.menu-items li.active a {
    color: red; /* example color */
    letter-spacing: 2px; /* Dodanie odstępu między literami */
}

.menu-items li a {
    color: #444;
    text-decoration: none;
    transition: color 0.3s; /* Dodajemy przejście koloru */
}

.menu-items li a:hover {
    color: #666; /* Zmieniamy kolor tekstu po najechaniu */
}

.contact {
    line-height: 1.8;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-top-right-radius: 20px;
    cursor: pointer;
    margin-right: 15px;
    letter-spacing: 2px;
}

  .barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 4px; /* Dodanie odstępu między literami */
    color: black;
  }

  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .films-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(0, 21, 255) 5%, rgba(0, 4, 86, 0.477) 60%);
    background: linear-gradient(to bottom, rgb(0, 21, 255), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.508) 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  