
<!-- Hero Section -->
<section id="heroSection">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Services Section -->
  <section id="servicesSection">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Contact Section -->
  <section id="contactSection">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Feature Section 1 -->
  <section id="feature1Section">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Feature Section 2 -->
  <section id="feature2Section">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Blog Section -->
  <section id="blogSection">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <div id="about-us-section"></div>
  
  <!-- Contact Banner Section -->
  <section id="contactBannerSection">
    <!-- INSERT ELEMENT HERE -->
  </section>

  <!-- Footer Section -->
  <div id="footer-section"></div>
    <!-- INSERT ELEMENT HERE -->
  </div>

<script src="{{ url_for('static', filename='efekty/adds/oferta/render.js') }}"></script>