<!-- SERVER_PATH + 'efekty\adds\galeria\'-->
<div class="galery-body">
  <div id="app" style="height: 300px">
    <div class="demo-slider" style="height: 300px">
      <!-- Material slider -->
      <div class="swiper swiper-material swiper-initialized swiper-horizontal swiper-watch-progress">
        <div class="swiper-wrapper">
          <!-- Slides will be dynamically added here -->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='adds/galeria/render.js') }}"></script>
